completedTutorials=[
    introduction,
    "sculpt_draw_tool",
    "box_select_tool",
    selection,
    "magic_select_tool"
]
customDowngradeSuggestions=[]
globalScale=1
lastTranslationCount=0
openEditorWindowTypes=[
    tools,
    "tool_options",
    palette,
    "active_block",
    history,
    "world_properties",
    clipboard,
    "target_info",
    replace
]
rootEditorPalette {
    blocks=[]
}
savedCustomTheme="ASel0AAAlJbUd1aURhcmsAAA=="
showCloseWindowButton=false
showNon90DegreeRotationWarning=true
showToolMaskOpenWarning=true
shownIntroduction=true
